#header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--primary_color);
  color: var(--light_accent_color);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

#portrait_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--padding) + 24px); /* 24px is the left padding of the content, so its vertically aligned */
}

#portrait_border {
  display: inline-flex;
  width: calc(26% - var(--padding) * 2);
  height: fit-content;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 4px;
  border: 2px solid var(--secondary_color);
  border-radius: 50%;
  margin-left: var(--padding);
}

#portrait {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

#name_wrap {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: var(--padding);
}

#name {
  font-family: Noto_Serif;
  font-weight: 200;
  font-size: 3em;
  color: var(--secondary_color);
}

#title {
  font-family: Noto_Serif_Italic;
  color: var(--light_accent_color);
  font-size: 1.5em;
}

#contacts {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  margin-top: 18px;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 36px;
}

#contacts > * {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

#contacts .icon {
  margin-top: 2px;
}

#contacts .logo {
  fill: var(--secondary_color);
}