:root {
  /**
   * Go Check https://colorhunt.co/palettes/popular for color palette
   * Color lightener: https://mdigi.tools/lighten-color
   */
  --background_color: #FFF2D8;
  --primary_color: #113946;
  --primary_color_hover: #195568; /* Lightened by 10% */
  --secondary_color: #BCA37F;
  --light_accent_color: #EAD7BB;
  --dark_accent_color: #757575;

  --transition: .2s;
  --padding: 16px;

  --shadow_2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  --shadow_3dp: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
  --shadow_4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  --shadow_6dp: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  --shadow_8dp: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  --shadow_12dp: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
  --shadow_16dp: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  --shadow_24dp: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}

/* Noto Sans */
@font-face {
  font-family: Noto_Sans;
  src: url(../font/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
  font-family: Noto_Sans_Italic;
  src: url(../font/Noto_Sans/NotoSans-Italic.ttf);
}

@font-face {
  font-family: Noto_Sans_Bold;
  src: url(../font/Noto_Sans/NotoSans-Bold.ttf);
}

@font-face {
  font-family: Noto_Sans_Thin;
  src: url(../font/Noto_Sans/NotoSans-Thin.ttf);
}

/* Noto Serif */
@font-face {
  font-family: Noto_Serif;
  src: url(../font/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: Noto_Serif_Italic;
  src: url(../font/Noto_Serif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf);
}

body, html {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: #222;
  overflow: auto;

  color: var(--primary_color);
  font-family: Noto_Sans, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-family: Noto_Serif;
  margin: 0 0 4px 0;
  font-size: 1.75em;
  font-weight: 600;
}

h2 {
  font-family: Noto_Serif;
  margin: 0;
  font-size: 1.25em;
  font-weight: 600;
}

a {
  color: var(--light_accent_color);
  text-decoration: none;
}

#content a {
  color: var(--primary_color_hover);
}

a:hover {
  text-decoration: underline;
}

b {
  font-family: Noto_Sans_Bold;
}

p {
  margin: 0 0 4px 0;
}

ul {
  padding-left: 16px;
  margin: 0;
}

/* Language Rules *******************************************************************************************/
*[lang] {
  display: none;
  flex-direction: column;
}

p[lang] {
  margin: 0;
}

.en *[lang="en"] {
  display: revert;
}

.fr *[lang="fr"] {
  display: inherit;
}

/* Class Rules *******************************************************************************************/
.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

h1 .icon {
  background-color: var(--primary_color);
  font-size: 24px;
  color: var(--background_color);
  padding: 4px;
  border-radius: 8px;
}

.flag {
  width: auto;
  height: 18px;
}

.sub {
  font-family: Noto_Sans_Italic;
  font-size: .85em;
}

.separator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  /*background-color: var(--primary_color);*/
  margin: 8px auto;
  background-image: url(../img/eight_knot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.separator::before, .separator::after {
  content: '';
  width: calc(50% - 35px);
  height: 1px;
  background-color: var(--primary_color);
  display: inline-flex;
}

/* ID Rules *******************************************************************************************/
#page {
  display: flex;
  flex-direction: column;
  width: 210mm;
  height: 297mm;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 48px;
  box-shadow: var(--shadow_4dp);
}

/* Content */
#content_wrap {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

#side {
  display: flex;
  flex-direction: column;
  width: 26%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--secondary_color);
  padding: var(--padding);
}

#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background-color: var(--background_color);
  padding: var(--padding);
  padding-left: 24px; /* For timeline */
  gap: var(--padding);
  /*justify-content: space-between;*/
}

/* Print Rules *******************************************************************************************/
@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body, html {
    width: fit-content;
    height: fit-content;
  }

  #page {
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}